<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="R" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="logs/application.log" />
		<param name="MaxFileSize" value="100KB" />
		<param name="MaxBackupIndex" value="10" />
		 <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%r,%c{1},%t] %m%n"/>
        </layout>
	</appender>
	
	<appender name="eventloggerOpenShift" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="/var/lib/openshift/9425ccd5c0bd4cb3844a0d29d38edbc0/jbossas-7/logs/event_log-entries.log" />
		<param name="MaxFileSize" value="100KB" />
		<param name="MaxBackupIndex" value="10" />
		 <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n"/>
        </layout>
	</appender>
	
	
	<appender name="eventlogger" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="logs/eventlog.log" />
		<param name="MaxFileSize" value="100KB" />
		<param name="MaxBackupIndex" value="10" />
		 <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n"/>
        </layout>
	</appender>
	
	<category name="nl.googlethursday.eventlogger">
		<appender-ref ref="eventloggerOpenShift"/>
	</category>
	
	<root>
		<priority value="debug" />
		<appender-ref ref="R" />
	</root>

</log4j:configuration>