<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- 1 alles naar console -->
	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n" />
		</layout>
	</appender>

	<!-- 2 errors naar aparte log -->
	<appender name="errorAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="/var/lib/openshift/9425ccd5c0bd4cb3844a0d29d38edbc0/jbossas/logs/application_log-Error.log" />
		<param name="threshold" value="ERROR" />
		<param name="MaxFileSize" value="1024KB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n" />
		</layout>
	</appender>

	<!-- 3 alles naar aparte log -->
	<appender name="applicationLogAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="/var/lib/openshift/9425ccd5c0bd4cb3844a0d29d38edbc0/jbossas/logs/application_log-.log" />
		<param name="threshold" value="DEBUG" />
		<param name="MaxFileSize" value="1024KB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n" />
		</layout>

	</appender>

	<!-- 3a -->
	<!--  alles  -->
<!-- 	<appender name="applogOpenShift" class="org.apache.log4j.RollingFileAppender">
		
		<param name="file"
			value="/var/lib/openshift/9425ccd5c0bd4cb3844a0d29d38edbc0/jbossas-7/logs/application_log-entries.log" />
		<param name="threshold" value="DEBUG" />
		<param name="MaxFileSize" value="1024KB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%r,%c{1},%t] %m%n" />
		</layout>
	</appender>
 -->
 
	<!-- 4a -->
	<!-- alle eventlogging -->
<!-- 	<appender name="eventloggerOpenShift" class="org.apache.log4j.RollingFileAppender">
		<param name="file"
			value="/var/lib/openshift/9425ccd5c0bd4cb3844a0d29d38edbc0/jbossas-7/logs/event_log-entries.log" />
		<param name="MaxFileSize" value="1024KB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>
 -->
 
	<!-- 4 -->
	<!-- alle eventlogging -->
	<appender name="eventlogger" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="/var/lib/openshift/9425ccd5c0bd4cb3844a0d29d38edbc0/jbossas/logs/event_log.log" />
		<param name="MaxFileSize" value="1024KB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>

	<!-- configuratie van de eventlogger, zend alles van de specifieke package naar de specifieke logger -->
	<category name="nl.googlethursday.eventlogger">
		<appender-ref ref="eventlogger" />
	</category>

	<root>
		<priority value="debug" />

		<!-- log all log entries on console -->
		<appender-ref ref="consoleAppender" />

		<!-- push all error logs to errorAppender -->
		<appender-ref ref="errorAppender" />

		<!-- push all logs to appender -->
		<appender-ref ref="applicationLogAppender" />
		
	</root>

</log4j:configuration>